# --- Configuration & Environment ---
hydra-core
hydra-zen
python-dotenv
omegaconf

# --- Experiment Tracking & Logging ---
wandb
tqdm

# --- Data Processing ---
numpy
pandas
scikit-learn
pymongo

# --- Deep Learning ---
matplotlib
pillow